{% extends "include/base.html" %}
{% block title %}
    <title>SQL DML免审核执行</title>
{% endblock %}
{% block content %}
    <!-- Page Header -->
    <div class="page-header">
        <div class="pull-left">
            <ol class="breadcrumb visible-sm visible-md visible-lg">
                <li><a href="{% url 'index' %}"><i class="icon fa fa-home"></i>Home</a></li>
                <li><a href="#"><i class="fa fa-file-text"></i>数据模板</a></li>
                <li class="active"><i class="fa fa-android"></i>数据处理</li>
            </ol>
        </div>
        <div class="pull-right">
            <h2>数据处理</h2>
        </div>
    </div>
    <!-- End Page Header -->

    <div class="row">
        <form class="form-horizontal" role="form" method="post">
            {% csrf_token %}
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-heading bk-bg-primary">
                        <h6><i class="fa fa-indent red"></i>数据处理</h6>
                        <div class="panel-actions">
                            <a href="form-elements.html#" class="btn-setting"><i
                                    class="fa fa-rotate-right black"></i></a>
                            <a href="form-elements.html#" class="btn-minimize"><i
                                    class="fa fa-chevron-up black"></i></a>
                            <a href="form-elements.html#" class="btn-close"><i class="fa fa-times black"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-xs-1 control-label">选择数据库</label>
                            <div class="col-md-6">
                                {% if choosed_host %}
                                    <select class="form-control col-md-1" name="dbhost" style="width: 200px">
                                        {% for obj in  objlist %}
                                            {% if obj == choosed_host %}
                                                <option selected="selected" value="{{ obj }}">{{ obj }}</option>
                                            {% else %}
                                                <option value="{{ obj }}">{{ obj }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select></br>
                                {% else %}
                                    <select class="form-control col-md-1" name="dbhost" style="width: 200px">
                                        {% for obj in objlist %}
                                            <option value="{{ obj }}">{{ obj }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">

                            <div class="col-lg-10 col-md-10">
                                {% if sqlmemo_val %}
                                    <input type=="text" maxlength="100" class="form-control"
                                           placeholder="修改说明，必填，最多100字(示例：20180504账期数据错误修改)" name="sqlmemo"
                                           value={{ sqlmemo_val }}>
                                {% else %}
                                    <input type=="text" maxlength="100" class="form-control"
                                           placeholder="修改说明，必填，最多100字(示例：20180504账期数据错误修改)" name="sqlmemo">
                                {% endif %}
                            <span style="color:red"> {{ status }}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            {#                            <label class="col-lg-2 col-md-2 col-sm-12 control-label">SQL To Run</label>#}
                            <div class="col-lg-10 col-md-10">
                                {{ form.a }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-md-10">
                                <button type="submit" name='check' class="bk-margin-5 btn btn-success">SQL检查</button>
                                <button type="submit" name='addsql' onclick="return confirm('PLEASE COMFIRM')"
                                        class="btn btn-danger">SQL执行
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="panel">
                    <div class="panel-heading bk-bg-primary">
                        <h6><i class="fa fa-indent red"></i>Data List</h6>
                        <div class="panel-actions">
                            <a href="form-elements.html#" class="btn-setting"><i
                                    class="fa fa-rotate-right black"></i></a>
                            <a href="form-elements.html#" class="btn-minimize"><i
                                    class="fa fa-chevron-up black"></i></a>
                            <a href="form-elements.html#" class="btn-close"><i class="fa fa-times black"></i></a>
                        </div>
                    </div>
                 <div class="panel-body">
                        <div class="table-responsive">
                            {% include "include/pagejump/pagebutton.html" %}
                            {% if split %}
                                <strong> <span style="color:red">请根据审核提示，拆分任务提交 </br> </span></strong>
                            {% endif %}

                            <table id="mytable"  class="table table-bordered table-striped table-condensed table-hover">
                                <thead>
                                <tr >
                                    {% for colname in collist %}
                                        {% if forloop.counter <= 7 %}
                                            <th>{{ colname }}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in data_list %}
                                    <tr>
                                        {% for item_detail in item %}
                                            {% if forloop.counter <= 7 %}
                                                {% if forloop.counter == 6 %}
                                                    <td> {{ item_detail|truncatechars:250|linebreaks }}</td>
                                                {% elif forloop.counter == 5 or forloop.counter == 2 %}
                                                    <td> {{ item_detail|linebreaks }}</td>
                                                {% else %}
                                                    <td> {{ item_detail }}</td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% if datalist %}

                                <table id="mytable2"  class="table table-bordered table-striped table-condensed table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th noWrap>提交人</th>
                                        <th noWrap>执行人</th>
                                        <th>DBTAG</th>
                                        <th>SQL语句</th>
                                        <th>创建时间</th>
                                        <th>修改时间</th>
                                        <th>任务状态</th>
                                        <th>预约时间</th>
                                        <th noWrap>执行说明</th>
                                        <th>备份状态</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in datalist %}
                                        <tr>
                                            {#                    <td>{{ item.id }}  </td>#}
                                            <td noWrap>{{ item.id }} <input type="checkbox" size="100"
                                                                            name="choosedlist" value={{ item.id }}></td>
                                            <td> {{ item.user }}</td>
                                            <td>{{ item.operator }}</td>
                                            <td> {{ item.dbtag }}</td>
                                            <td> {{ item.sqltext|truncatechars:100|linebreaks }}</td>
                                            {#                    <td><input type=="text" class="form-control" name="accountname" value="{{ item.sqltext }}"></td>#}
                                            <td> {{ item.create_time|date:"Y-m-d H:i:s" }}</td>
                                            <td> {{ item.update_time|date:"Y-m-d H:i:s" }}</td>
                                            <td> {{ item.status }}</td>
                                            <td> {{ item.sche_time|date:"Y-m-d H:i" }}</td>
                                            <td>
                                                {{ item.specification|truncatechars:30|linebreaks }}
                                            </td>
                                            <td noWrap>
                                                <button type="button" class="backup_info" type="button"
                                                        value="{{ item.id }}" title="点击查看备份语句">已备份执行
                                                </button>
                                            </td>


                                        </tr>

                                    {% endfor %}

                                    <script>

                                        function checkstatus() {
                                            var tableId = document.getElementById("mytable");
                                            var str = "";
                                            for (var i = 1; i < tableId.rows.length; i++) {
                                                var value = tableId.rows[i].cells[7];
                                                if (value.innerText == "executed") {
                                                    value.setAttribute("class", "success");

                                                }
                                                else if (value.innerText == "check passed") {
                                                    value.setAttribute("class", "warning");

                                                }
                                                else if (value.innerText == "running") {
                                                    value.setAttribute("class", "active");
                                                }
                                                else {
                                                    value.setAttribute("class", "danger");
                                                }
                                                var sched = tableId.rows[i].cells[8];
                                                if (sched.innerText == "2199-01-01 00:00") {
                                                    sched.innerText = 'NOT SCHEDULED';
                                                    sched.setAttribute("class", "danger");

                                                }
                                                else {
                                                    sched.setAttribute("class", "active");

                                                }
                                            }
                                        }

                                        function checkbox() {
                                            var str = document.getElementsByName("choosedlist");
                                            var n = str.length;
                                            var k = 0;
                                            for (var i = 0; i < n; i++) {
                                                if (str[i].checked) {
                                                    k = 1;
                                                }
                                            }
                                            if (k == 0) {
                                                alert("请勾选TASK!");
                                                return false;
                                            }
                                        }

                                    </script>


                                    </tbody>
                                </table>
                            {% endif %}
                            <div class="modal fade" id="myModal" style="width:50%;" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <form role="form" action="" method="post">
                                        {% csrf_token %}
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title">回滚语句</h4>
                                            </div>
                                            <div class="modal-body" style="overflow:auto">

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <table id="myTb" class="table table-bordered table-striped table-condensed table-hover">
                                                                {#                                                 <table id="myTb"   border="0" cellspacing="1" style="background-color:#a0c6e5">#}
                                                                {#                                                    <td style="overflow-x: auto;" noWrap>#}
                                                                {#                                                        <p id="list_result"></p>#}
                                                                {#                                                    </td>#}
                                                                {#                                                </tr>#}

                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="modal-footer" style="text-align:left">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Close
                                                </button>

                                            </div>
                                        </div>
                                    </form>

                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                    </div>
            </div>

            </div>
        </form>
    </div>

{% endblock %}
{% block script %}
     {% include "include/pagejump/pagejump.html" %}
    <script>
     $(document).ready(function(){
            $('#myModal').modal({
                keyboard: false,
                show: false,
                backdrop:false
            })
            $(document).on("click",'.backup_sql', function() {
                {#            $('.backup_sql').on('click',function() {#}
                var sequenceid = $(this).attr("value");
                {#                alert(sequenceid);#}
                $.get("{% url 'get_single_rollback' %}",{'sequenceid':sequenceid}).done(function (data) {
                    $('#myModal').modal({
                        show: true
                    });
                    $("#myTb").empty("");
                   var tbHead = " <thead><tr><th width=\"30\">ID</th><th>SQL</th></tr></thead><tbody>";
                    $("#myTb").append(tbHead);
                    for (var i =0 ; i <= data.length - 1; i++) {
                        var tbBody = ""
                        tbBody += "<tr><td width=\"30\">" + (i + 1) + "</td><td style=\"word-wrap:break-word;\">" + data[i] + "</td></tr>";
                        $("#myTb").append(tbBody);

                        {#                        $('#list_result').append(' ' + data[i]);#}
                    };
                    $("#myTb").append("</tbody>");
                    $('#myTb').dataTable().fnDestroy();
                    $('#myTb').DataTable({
                        "lengthMenu": [[5,10], [5,10]],
                        "order": []
                    });

                });
            });

            $('.backup_info').click(function(){
                var taskid = $(this).attr("value");
                $.get("{% url 'get_rollback' %}",{'taskid':taskid}).done(function (data) {
                    $('#myModal').modal({
                        show: true
                    });
                    $("#myTb").empty("");
                    var tbHead = " <thead><tr><th width=\"30\">ID</th><th>SQL</th></tr></thead><tbody>";
                    $("#myTb").append(tbHead);
                    for (var i =0 ; i <= data.length - 1; i++) {
                        var tbBody = ""
                        tbBody += "<tr><td width=\"30\">"+(i+1)+"</td><td style=\"word-wrap:break-word;\">" + data[i] +  "</td></tr>";
                        $("#myTb").append(tbBody);

                        {#                        $('#list_result').append(' ' + data[i]);#}
                    };
                    $("#myTb").append("</tbody>");
                    $('#myTb').dataTable().fnDestroy();
                    $('#myTb').DataTable({
                        "lengthMenu": [[5,10], [5,10]],
                        "order": []
                    });
                });
                return false;
            });
        });
    </script>
{% endblock %}