{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

	<head>

		<!-- Basic -->
    	<meta charset="UTF-8" />

		<title>404 Error | Nadhif - Responsive Admin Template</title>

		<!-- Mobile Metas -->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Import google fonts -->
        <link href="http://fonts.useso.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css" />
{#        	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/ico/apple-touch-icon-57x57.png' %}" />#}
		<!-- Favicon and touch icons -->
		<link rel="shortcut icon" href="{% static 'assets/ico/favicon.ico' %}" type="image/x-icon" />
		<link rel="apple-touch-icon" href="{% static 'assets/ico/apple-touch-icon.png' %}" />
		<link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/ico/apple-touch-icon-57x57.png' %}" />
		<link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/ico/apple-touch-icon-72x72.png' %}" />
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/ico/apple-touch-icon-76x76.png' %}" />
		<link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/ico/apple-touch-icon-114x114.png' %}" />
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/ico/apple-touch-icon-120x120.png' %}" />
		<link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/ico/apple-touch-icon-144x144.png' %}" />
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/ico/apple-touch-icon-152x152.png' %}" />

	    <!-- start: CSS file-->

		<!-- Vendor CSS-->
		<link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet' %}" />
		<link href="{% static 'assets/vendor/skycons/css/skycons.css" rel="stylesheet' %}" />
		<link href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet' %}" />

		<!-- Plugins CSS-->

		<!-- Theme CSS -->
		<link href="{% static 'assets/css/jquery.mmenu.css" rel="stylesheet' %}" />

		<!-- Page CSS -->
		<link href="{% static 'assets/css/style.css" rel="stylesheet' %}" />
		<link href="{% static 'assets/css/add-ons.min.css" rel="stylesheet' %}" />

		<style>
			footer {
				display: none;
			}
		</style>

		<!-- end: CSS file-->


		<!-- Head Libs -->
		<script src="{% static 'assets/plugins/modernizr/js/modernizr.js' %}"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>

	<body>
		<!-- Start: Content -->
		<div class="container-fluid content">
			<div class="row">
				<!-- Main Page -->
				<div id="content" class="col-sm-12 full">
					<div class="row box-error">
						<div class="col-lg-12 col-md-12 col-xs-12">
							<div class="text-center">
								<h1>404</h1>
								<h2>Oops! Bad request ...</h2>
								<p>The request cannot be fulfilled due to bad syntax.</p>
								<a href="javascript: history.go(-1)">
									<button type="button" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Go Back</button>
								</a>
								<a href="accounts/login/">
									<button type="button" class="btn btn-primary"><i class="fa fa-lock"></i> Login</button>
								</a>
{#								<a href="page-profile.html">#}
{#									<button type="button" class="btn btn-primary"><i class="fa fa-envelope"></i> Contact Admin</button>#}
{#								</a>#}
							</div>
						</div>
					</div>
				</div>
				<!-- End Main Page -->


			</div>
		</div><!--/container-->


		<!-- start: JavaScript-->

		<!-- Vendor JS-->
		<script src="{% static 'assets/vendor/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/vendor/js/jquery-2.1.1.min.js' %}"></script>
		<script src="{% static 'assets/vendor/js/jquery-migrate-1.2.1.min.js' %}"></script>
		<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'assets/vendor/skycons/js/skycons.js' %}"></script>

		<!-- Plugins JS-->

		<!-- Theme JS -->
		<script src="{% static 'assets/js/jquery.mmenu.min.js' %}"></script>
		<script src="{% static 'assets/js/core.min.js' %}"></script>

		<!-- Pages JS -->
		<script src="{% static 'assets/js/pages/page-404.js' %}"></script>

		<!-- end: JavaScript-->

	</body>

</html>